<h1>Looking for Songs?</h1>
<p class="lead">Search for most popular songs and music in your country!</p>
<form>
	<input type="text" class="form-control" name="searchQuery" [(ngModel)]="searchQuery" (keyup)="searchCountry()" placeholder="Enter a country name" autofocus>
</form>

<div *ngIf="searchRes">
	<div class="row">
		<div class="col-md-12">
			<div class="well" *ngFor="let res of pagedItems">
				<img src="{{res.image[3]['#text']}}" height="50" alt="{{res.name}}">
				<a routerLink="/artist/{{res.name}}">{{res.name}}</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-center">
			<ul *ngIf="pager.pageNos && pager.pageNos.length" class="pagination pagination-lg">
	            <li [ngClass]="{disabled:pager.currentPage === 1}">
	                <a (click)="setPage(1)">First</a>
	            </li>
	            <li [ngClass]="{disabled:pager.currentPage === 1}">
	                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
	            </li>
	            <li *ngFor="let page of pager.pageNos" [ngClass]="{active:pager.currentPage === page}">
	                <a (click)="setPage(page)">{{page}}</a>
	            </li>
	            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
	                <a (click)="setPage(pager.currentPage + 1)">Next</a>
	            </li>
	            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
	                <a (click)="setPage(pager.totalPages)" class="button">Last</a>
	            </li>
	        </ul>
	    </div>
	</div>
</div>

