<h1>Looking for Songs?</h1>
<p class="lead">Search for most popular songs and music in your country!</p>

<ng-select  [items]="items"
              (selected)="selected($event)"
              name="searchQuery" [(ngModel)]="searchQuery" placeholder="Enter country name" autofocus>
</ng-select>
<br>
<div *ngIf="searchError" >
	<h2> Popular In {{countryName}}</h2>
	<h3 class="error">Sorry,No Data Available!</h3>
</div>
<div  *ngIf="searchRes && !searchError">
	<h2> Popular In {{countryName}}</h2>
	<div class="row">
		<div class="col-md-12">
			<div *ngIf="!searchError">
			<div class="well" *ngFor="let res of pagedItems">
				<img src="{{res.image[3]['#text']}}" height="50" alt="{{res.name}}">
				<a routerLink="/artist/{{res.name}}">{{res.name}}</a>
			</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-center">
			<ul *ngIf="pager.pageNos && pager.pageNos.length" class="pagination pagination-lg">
	            <li [ngClass]="{disabled:pager.currentPage === 1}">
	                <a (click)="setPage(1)">First</a>
	            </li>
	            <li [ngClass]="{disabled:pager.currentPage === 1}">
	                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
	            </li>
	            <li *ngFor="let page of pager.pageNos" [ngClass]="{active:pager.currentPage === page}">
	                <a (click)="setPage(page)">{{page}}</a>
	            </li>
	            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
	                <a (click)="setPage(pager.currentPage + 1)">Next</a>
	            </li>
	            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
	                <a (click)="setPage(pager.totalPages)" class="button">Last</a>
	            </li>
	        </ul>
	    </div>
	</div>
</div>

