<div *ngIf="artist">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<div class="row">
					<div class="col-md-4">
						<img src="{{artist.image[4]['#text']}}" alt="{{artist.name}}" class="img-rounded" height="300" width="300">
					</div>
					<div class="col-md-8" id="rating-data">
						<h2>
							{{artist.name}}
						<span *ngFor="let a of rateArray" class="fa fa-star checked">
						</span>
						</h2>
						<span class="label label-danger" *ngFor="let tag of artist.tags.tag">
							<a href="tag/{{tag.name}}">{{tag.name}}</a>
						</span>
						<div class="content"><small [innerHTML]="artist.bio.summary"></small></div>
					</div>
				</div>				
			</div>			
		</div>
	</div>
</div>
<div *ngIf="albums">
	<h2>Albums</h2>
	<div class="row">
		<div class="col-md-12">
			<div class="well" *ngFor="let album of pagedItems">
				<img src="{{album.image[3]['#text']}}" height="50" onError="this.src='http://via.placeholder.com/50x50';"
				 alt="{{album.name}}">
				<a href="album/{{album.mbid}}">{{album.name}}</a>
				<a href="https://www.youtube.com/results?search_query={{album.name}}" target="_blank">
					<img src="https://www.youtube.com/yt/about/media/images/brand-resources/icons/YouTube_icon_full-color.svg" height="50" alt="Watch on Youtube" class="pull-right">
				</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-center">
			<ul *ngIf="pager.pageNos && pager.pageNos.length" class="pagination pagination-lg">
	            <li [ngClass]="{disabled:pager.currentPage === 1}">
	                <a (click)="setPage(1)">First</a>
	            </li>
	            <li [ngClass]="{disabled:pager.currentPage === 1}">
	                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
	            </li>
	            <li *ngFor="let page of pager.pageNos" [ngClass]="{active:pager.currentPage === page}">
	                <a (click)="setPage(page)">{{page}}</a>
	            </li>
	            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
	                <a (click)="setPage(pager.currentPage + 1)">Next</a>
	            </li>
	            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
	                <a (click)="setPage(pager.totalPages)" class="button">Last</a>
	            </li>
	        </ul>
	    </div>
	</div>
</div>
